
@{
    ViewBag.Title = "Author";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="header">Zhengyang (Nicholas) Li</h2>
<h4 class="header">Full Stack Developer | E.I.T.</h4>
<p class="header">Phone: +1 (780) 850-3263 | Email: <a href="mailto:zli7.nicholas@gmail.com">zli7.nicholas@gmail.com</a> | 
    <a href="https://github.com/restart365">github.com/restart365</a></p>

<hr>

<div class="infoblock">
    <h3>HIGHLIGHTS OF QUALIFICATIONS</h3>
    <ul>
        <li>
            <b>Strong competencies in full stack developing, critical thinking, communications, relationship building, and problem 
                solving developed through work experience and university coursework.</b>
        </li>
        <li>
            <b>Extensive experience in programming languages</b>
            <p>JAVA, C#, JavaScript, XML/XAML, C, Python, Bash, HTML, SQL</p>
        </li>
        <li>
            <b>Software developing skills</b>
            <p>AWS, Android, Git, WPF, ASP, Axure, Node.JS, MySQL, SQLite, Heroku</p>
        </li>
    </ul>
</div>

<div class="infoblock">
    <h3>PROFESSIONAL WORK EXPERIENCE</h3>
    <div>
        <h4><u>Software Developer | Diesel Tech Industries, Edmonton | July 2018 - Present</u></h4>
        <ul>
            <li>
                Designed and implemented industrial level applications on Android and Windows platform
                <ul>
                    <li>Designed UI, optimized user experience, and built mock-ups</li>
                    <li>Implemented both front-end and back-end using MVC/MVVM model</li>
                    <li>Tested, debugged, maintained, and documented the software</li>
                    <li>Increased the gross income of company’s main product by up to 2 times</li>
                </ul>
            </li>
            
            <li>Researched and redesigned company’s database structure</li>
            <li>Created and maintained an AWS RDS with MySQL engine</li>
            <li>Implemented a database API running on EC2 instance</li>
            <li><b>Skill transfer to</b> full-stack Android/Windows developing, self-motivating, agile development</li>
        </ul>
    </div>
</div>

<div class="infoblock">
    <h3>PROJECTS</h3>
    <div>
        <h4><u>Class project: RideNGo</u></h4>
        <ul>
            <li>Collaborated in a group of five to design, develop, and test a Car Hailing APP</li>
            <li>Implemented front and back end under MVC pattern</li>
            <li>Implemented key functions of car hailing system using Elastic search and Google maps Android API</li>
            <li>Tested, debugged, optimized, and maintained the APP using both black and white box testing</li>
            <li>Made presentation for the final application</li>
            <li><b>Skill transfer to</b> Android APP development, project management, project design, public speaking</li>
        </ul>
    </div>
</div>

<div class="infoblock">
    <h3>INTERNSHIP & PART-TIME WORK EXPERIENCE</h3>
    <div class="infoblock">
        <h4><u>Software Developer Intern | Shandong MassClouds Co., LTD, China | July 2015 – Aug 2015</u></h4>
        <ul>
            <li>Get familiar with software development process</li>
            <li>Executed Alpha tests and edited users’ handbooks</li>
            <li>Tested, debugged, and verified the software</li>
            <li><b>Skill transfer to</b> software requirements, testing</li>
        </ul>
    </div>
    
    <div>
        <h4><u>Sales and Stock Associate | Abercrombie & Fitch, Edmonton | October 2015 – June 2018</u></h4>
        <ul>
            <li>Proven ability to work with a team of 10+ to ensure the store is well organized</li>
            <li>Communicate effectively with customers for better customer service experience</li>
            <li>Strong time-management skills: finish tasks accurately and efficiently before deadlines</li>
            <li><b>Skill transfer to</b> customer services, teamwork, time-management, pressure-handling</li>
        </ul>
    </div>
</div>

<div>
    <h3>EDUCATION</h3>
    <p>BSc., Computer Engineering | University of Alberta | Sept. 2013 – Dec. 2017</p>
</div>

<style>
    .header {
        text-align: center
    }

    .infoblock {
        margin-bottom: 8px
    }

    li:not(:last-child) {
        margin-bottom: 5px;
    }
</style>