@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Asset Management</h1>
    <h2>- For XYZ Online System -</h2>
    <p class="lead">Thank you for your time exploring this website. Start easy inventory management right away!</p>
    @Html.ActionLink("TRY NOW", "Index", "Asset", null, new { @class = "btn btn-primary btn-lg" })
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Click on <b>"Inventory"</b> button on navigation bar or click <b>"TRY NOW"</b>.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Web API Available</h2>
        <p>Web API are available! Checkout README to learn more about requests!</p>
    </div>
    <div class="col-md-4">
        <h2>More Information</h2>
        <p>For more information about myself, please go to "Author" page. Feel free to text or email me for any furthor information required.</p>
    </div>
</div>